@import "../../custom.css";
.navbar {
  background-color: var(--dark);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.navbar-nav {
  display: flex;
  flex-direction: row !important;
}

.nav-item {
  margin: 0 1rem;
}
.nav-link {
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  height: 4%;
  background-color: var(--main-red);
}
.nav-link:hover.nav-link::after {
  animation-name: navLink;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
@keyframes navLink {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.navbar-brand:hover {
  color: var(--main-red) !important;
  text-shadow: 0 0 10px 3px var(--main-red);
}
.navbar-brand {
  color: var(--main-red) !important;
  transition: all 400ms ease;
}
.nav-item .nav-link {
  color: var(--main-white) !important;
}
.user_link {
  margin-right: 1rem;
}
.user_link > svg {
  color: var(--main-red);
  font-size: 1.3rem;
}
.bag {
  position: relative;
  display: flex;
}
.bag span {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(140%, 2px);
  width: 20px;
  height: 20px;
  background-color: var(--main-white) !important;
  color: var(--main-red) !important;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.closeModal {
  animation-name: closeModal;
  animation-duration: 2000ms;
}
@keyframes closeModal {
  form {
    left: 50%;
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 0%;
  }
}
.menu_phone {
  font-size: 2rem;
  color: var(--white);
}
.modal_menu {
  background-color: var(--white);
  height: 103vh;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.modal_menu > svg {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 3.5rem;
  color: var(--white);
  cursor: pointer;
}
.modal_menu-title {
  margin: 0;
  padding: 1rem 2rem;
  background-color: var(--dark);
  color: var(--main-red);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
.modal_menu-body {
  height: 80%;
  margin-top: -24px;
}
.modal_menu-body svg {
  font-size: 1.6rem;
  color: var(--main-red);
  cursor: pointer;
}

.modal_menu-search {
  width: 100%;
  padding: 0.7rem 1.4rem;
  background-color: var(--dark);
}
.modal_menu-body svg {
  font-size: 1.2rem;
}

.modal_menu-search-input {
  width: 90%;
  border: none;
  font-size: 1.1rem;
  color: var(--white);
  outline: none;
  background-color: var(--dark);
}

.modal_menu-list {
  list-style: none;
  margin: 1rem 0;
  font-size: 1.1rem;
}
.modal_menu-link {
  margin-left: 1rem;
  text-decoration: none !important;
}
.footer-menu {
  background-color: var(--dark);
  color: var(--white);
  font-size: 0.7rem;
  padding: 0.7rem 1rem;
}
.footer-menu span {
  color: var(--main-red);
  font-size: 0.8rem;
}
/* ! Resposive */
.menu_phone {
  display: none;
}
@media only screen and (max-width: 586px) {
  .navbar-nav {
    display: none !important;
  }
  .menu_phone {
    display: flex !important;
  }
  .navbar {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
